<div class="container">
  <h2 class="title-update"> Edite seu Perfil </h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="d-flex justify-space-between">
        <div class="mr-3">
          <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.profile_picture,
                    width: 56, height: 56, crop: :thumb, gravity: :face,
                    class: "avatar dropdown-toggle", id: "navbarDropdown", 
                    data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false 
                %>
          <% else %>
            <%= image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>
        <div>
          <%= f.input :photo, as: :file, class: "form-text-label", label: "Altere sua foto do perfil" %>
        </div>
      </div>

      <%= f.input :email, required: true, autofocus: true, class: "form-text-label" %>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :username, 
          hint: "Deixe em branco se não quiser alterar!",
          label: "Nome de usuário",
          class: "form-text-label",
          label_html: { class: "text-black" },
          hint_html: { class: "text-warning"}
      %>
      <%= f.input :first_name, 
          hint: "Deixe em branco se não quiser alterar!",
          label: "Nome",
          class: "form-text-label",
          label_html: { class: "text-black" },
          hint_html: { class: "text-warning"}
      %>
      <%= f.input :last_name, 
          hint: "Deixe em branco se não quiser alterar!",
          label: "Sobrenome",
          class: "form-text-label",
          label_html: { class: "text-black" },
          hint_html: { class: "text-warning"}
      %>
      <%= f.input :password,
                  hint: "Deixe em branco se não quiser alterar!",
                  required: false,
                  input_html: { autocomplete: "new-password" }, 
                  label: "Senha",
                  class: "form-text-label",
                  hint_html: { class: "text-warning"}
                  %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" },
                  label: "Confirmação de senha",
                  class: "form-text-label"
                  %>
      <%= f.input :current_password,
                  hint: "Sua senha atual é necessária para atualizar as alterações",
                  required: true,
                  input_html: { autocomplete: "current-password" },
                  label: "Digite sua senha atual",
                  class: "form-text-label",
                  hint_html: { class: "text-warning"},
                  label_html: { class: "current-password"}
                  %>
    </div>

    <div class="form-actions d-inline-flex justify-content-between">
      <div>
        <%= f.button :submit, "Atualizar", class: "btn-update btn btn-gradient mr-3" %>
      </div>
      <div>
        <%= link_to "Voltar", :back, class: "btn btn-gradient " %>
      </div>
    </div>
  <% end %>

    <div class="cancel-account">
      <h3 class="cancel-account-title">Cancelar minha conta</h3>

      <%= link_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete,
          class: "cancel-account-button btn btn-gradient" %>
    </div>
  
</div>