  <tbody>
    <tr>
      <th scope="row">
        <%= link_to chatroom.name, chatroom_path(chatroom) %>
      </th>
      <td>
        <% if current_user == chatroom.user %>
          <%= chatroom.users.map(&:username).join(", ") %>
        <% else %>
          <%= (chatroom.users - [current_user] + [chatroom.user]).map(&:username).join(", ") %>
        <% end %>
      </td>
      <% if chatroom.user == current_user %>
        <td>
          <%= link_to edit_chatroom_path(chatroom), class: "" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to chatroom_path(chatroom), method: :delete, data: { confirm: "Apagar Conversa?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      <% else %>
        <td>
          <%= link_to guest_path(current_user), method: :delete, data: { confirm: "Apagar Conversa?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>

