<%= simple_form_for chatroom do |f| %>
    <%= f.input :name, label: "Nome da Conversa", placeholder: "Ex: Amigos do Predio" %>
             
    <h2>Opcional</h2>
    <%= f.input :user_recipient, label: "Amigo username", placeholder: "Gertrudes"%>
    <div class="d-flex justify-content-between">
      <%= link_to "Voltar ao Perfil",  root_path, class: 'btn-back btn btn-primary mt-2 mb-5'  %>
      <%= f.submit value: button_name, class: 'btn-create btn btn-success mt-2 mb-5 ml-5 w-50 on-change-edit' %>
    </div>
<% end %>