<div class="d-flex">
  <div class="list-group w-200px bg-white br-light">
    <% @result.each do |chatroom| %>
      <%= link_to "#{chatroom.name}", chatroom_path(chatroom), 
                class: "list-group-item #{'active' if chatroom == @chatroom}" 
            %>
    <% end %>
  </div>
  <div class="chatroom">
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> <%= @chatroom.name %>
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </header>
      <main class="msger-chat">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
      </main>
        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Message: #{@chatroom.name}" %>
        <% end %>
      
    </div>
  </section>
</div>
<%# Chat do codepen %>
<%# 
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> SimpleChat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <main class="msger-chat">
    <div class="msg left-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">BOT</div>
          <div class="msg-info-time">12:45</div>
        </div>

        <div class="msg-text">
          Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
        </div>
      </div>
    </div>

    <div class="msg right-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Sajad</div>
          <div class="msg-info-time">12:46</div>
        </div>

        <div class="msg-text">
          You can change your name in JS section!
        </div>
      </div>
    </div>
  </main>

  <form class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section> %>
