<div class="d-flex">
  <div class="list-group w-200px br-light">
    <% @result.each do |chatroom| %>
      <%= link_to "#{chatroom.name}", chatroom_path(chatroom), 
                class: "list-group-item #{'active' if chatroom == @chatroom} chats-list" 
            %>
    <% end %>
  </div>
  <div class="chatroom">
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> <%= @chatroom.name %>
        </div>
        <div class="msger-header-options">
          <div class="btn-group">
            <% if current_user == @chatroom.user %>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opções
              </button>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right dropdown-chat-options">
              <%= link_to "Adicionar Pessoas", edit_chatroom_path(@chatroom, show_name: false), class: "dropdown-item" %>
              <%= link_to "Remover Pessoas", chatroom_guests_path(@chatroom), class: "dropdown-item" %>
              <%= link_to "Apagar Conversa", chatroom_path(@chatroom), method: :delete, class: "dropdown-item", data: { confirm: "Apagar Conversa?" } %>
            </div>
          </div>
        </div>
      </header>
      <main class="msger-chat">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
      </main>
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <div class="d-flex flex-row">
          <div class="w-100">
            <%= f.input :content, label: false, placeholder: "Mensagem para: #{@chatroom.name}" %>
          </div>
          <%= f.submit "Enviar", class: "send-msg-btn btn btn-success" %>
        </div>
      <% end %>
    </div>
  </section>
</div>
