<% unless user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon flex-row-reverse">
<% end %>
  <% if user_signed_in? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="nav-item mr-auto nav-avatar-vertical-line d-flex align-items-center">
        <li class="nav-item dropdown">
          
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.profile_picture,
                width: 56, height: 56, crop: :thumb, gravity: :face,
                class: "avatar dropdown-toggle", id: "navbarDropdown", 
                              data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false 
                   %>
          <% else %>
            <%= image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          
            
          <div class="dropdown" aria-labelledby="navbarDropdown">
            <div class="dropdown-menu">
              <%= link_to "Perfil", "#", class: "dropdown-item" %>
              <%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div> 
        
        </li>
          <div class="nav-item mr-auto user-name">
            <h2 class="username-navbar"><%= current_user.first_name.capitalize %></h2>
          </div>
          <div class="nav-item divider-right collapse navbar-collapse"></div>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Início", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Conversas", chatrooms_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Álbuns", photo_albums_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Rotina", reminders_path, class: "nav-link" %>
          </li>
          <li class="nav-item icon">
            <%= link_to new_reminder_path, class: "nav-link-icon" do %>
              <i class="far fa-plus-square fa-2x"> Criar Lembrete</i>
            <% end %>
          </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
