  <div class="row p-2">
        <div class="col-8 col-sm-8">
            <ul>
                <% @reminders.each do |reminder|%>
                    <% if reminder.medicine.present? %> 
                        <div class="card-product-meds mb-3"> 
                            <div class="card-product-infos-meds" >
                              <div class="card-header">
                                <%= render 'shared/header_cards', reminder: reminder %>   
                              </div>
                                <div class="card-med-content p-3">
                                  <li>
                                      <h2 class="card-title-center"><%= reminder.title %><h2>
                                      <% if reminder.content.present? %>
                                        <h3 class="card-text-center">Medicação: <strong><%= reminder.medicine_dose %></strong></h3> 
                                      <% end %>
                                      <h3 class="card-text-center"><i><%= reminder.content %></i><h3>
                                  </li>
                                </div>
                            </div>
                        </div>
                    <% end %> 
                <% end %>
            </ul>
        </div>

        <div class="all-meds col-4 col-sm-4">
        <div class="card-header all-the-meds">
          <p class="your-meds-title align-items-center">
          <i class="fas fa-prescription-bottle-alt"></i>
             Seus medicamentos:
          </p>
        </div>
          <div class="all-meds-card-content">
            <% @current_user.medicines.uniq.each do |medicine|%>
                <% if medicine.present? %> 
                    <h2 class="med-names">
                        <%= medicine.name %> 
                    </h2>
                <% end %>    
            <% end %>
          </div>
        </div> 
    </div>