  <div class="row p-2">
        <div class="col-8 col-sm-8">
            <ul>
                <% @reminders.each do |reminder|%>
                    <% if reminder.medicine.present? %> 
                        <div class="card-product-meds mb-3"> 
                            <div class="card-product-infos-meds" >
                              <div class="card-header">
                                <%= render 'shared/header_cards', reminder: reminder %>   
                              </div>
                                <div class="card-med-content p-3">
                                  <li>
                                      <h2 class="reminder-card-title-med"><%= reminder.title %><h2>
                                      <% if reminder.content.present? %>
                                        <h3>Medicação: <strong><%= reminder.medicine_dose %></strong></h3> 
                                      <% end %>
                                      <h3><i><%= reminder.content %></i><h3>
                                  </li>
                                </div>
                            </div>
                        </div>
                    <% end %> 
                <% end %>
            </ul>
        </div>

        <div class="all-meds col-4 col-sm-4">
        <div class="card-header all-the-meds"></div>
          <div class="all-meds-card-content">
            <h1 class="all-meds-title">Seus medicamentos: </h1>
            <% @current_user.medicines.each do |medicine|%>
                <% if medicine.present? %> 
                    <h1 class="med-names">
                        <%= medicine.name %> 
                    </h1>
                <% end %>    
            <% end %>
          </div>
        </div> 
    </div>