<div class="lightbox-gallery">
  <div class="container">
    <div class="intro">
      <div class="d-flex justify-content-center align-items-center flex-column photo-header-link w-100">
        <h2 class="reminder-title text-center"> <%= @photoalbum.title %></h2>
        <div class="d-inline-flex align-items-center justify-content-center">
          <%= link_to "Voltar aos álbuns",  photo_albums_path, class: 'btn-back btn btn-primary mt-2 mb-5 mr-5'  %>
          <%= link_to edit_photo_album_path(@photoalbum), class: "" do %>
            Editar seu Álbum <i class="fas fa-edit"></i>
          <% end %>
          
        </div>
      </div>
    </div>
    <div class="form-card-album photo-gallery w-100 ">
      <div class="row photos d-flex justify-content-center w-100 py-5">
        <% @photoalbum.photos.each do |photo|%>
          <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
            <%= link_to(photo) do %>
              <%=  cl_image_tag photo.key, 
                                    class: 'img-responsive img-fluid item ',
                                    width: 300, height: 300, crop: :fill
                                %>
            <% end %>
          </div>
          <%= link_to delete_image_attachment_photo_album_path(@photoalbum, photo), 
              method: :delete, 
              class: "photo-header-link",
              data: { confirm: 'Tem certeza?' } do 
            %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
