<% unless user_signed_in? %>
    <%# Home page banner %>
    <div id="banner-welcome">
        <div class="home-banner">
            <h1 class="home-title"><strong>Raimundo</strong></h1>
            <h2 class="home-subtitle">Descomplique-se, viva mais!</h2>
            <h3 class="img-home"><%= image_tag "home-img.png" %></h3>
            <div class="home-buttons justify-content-between">
                <%= link_to "Cadastrar", new_user_registration_path, class: "sign-up-btn btn btn-primary btn-lg" %>
                <%= link_to "Entrar", new_user_session_path, class: "login-btn btn btn-primary btn-lg" %>
            </div>
        </div>

    <%# Home page content (opportunity cards) %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@700&display=swap" rel="stylesheet">

    <div class="home-content-layout">
      <div class="home-content">
          <div class="container home-content">
            <h2 class="opportunities text-center">Oportunidades</h2>
          <div class="cards">
          <div class="card">
              <%= image_tag "undraw_medical_care_movn.svg" %>
              <h4 class="card-title">Se organize facilmente</h4>
              <p class="card-subtitle">Nunca mais esqueça de tomar seus remédios!</p>
          </div>
          <div class="card">
              <%= image_tag "undraw_moments.svg" %>
              <h4 class="card-title">Reveja as fotos da família</h4>
              <p class="card-subtitle">Tenha os momentos mais especiais na palma da mão.</p>
          </div>
          <div class="card">
              <%= image_tag "undraw_gradma.svg" %>
              <h4 class="card-title">Mantenha contato!</h4>
              <p class="card-subtitle">Converse com amigos e família por meio de mensagens de forma simples e prática.</p>
          </div>
          </div>
      </div>
    </div>

    <%# Home page footer %>
    <div class="home-content-layout">
      <div class="footer">
          <div class="links-footer">
              <a href="#">
                  <i class="fab fa-fw fa-facebook-f grow">
                  </i>
              </a>
              <a href="#">
                  <i class="fab fa-fw fa-twitter grow"></i>
              </a>
              <a href="#">
                  <i class="fab fa-fw fa-instagram grow"></i>
              </a>
          </div>
          <div class="text-footer">
              <p class="footer-text d-flex">Fique por dentro e nos siga nas redes sociais!</p>
          </div>
      </div>
      </div>
    </div>
<% end %>
  
<% if user_signed_in? %>
<div class="container">
    <div class="cards-logged">  
            <%= link_to new_reminder_path, class: "card-link home-cards" do %>
                <div class="card-logged">
                    <i class="far fa-calendar-plus card-icon"></i>
                
                    <h1 class="article-title">
                        Crie um novo lembrete
                    </h1>
                </div>
            <% end %>
            <%= link_to reminders_path, class: "card-link home-cards" do %>
                <div class="card-logged">
                    <i class="far fa-calendar-alt card-icon"></i>
                    <h1 class="article-title">
                        Sua rotina
                    </h1>
                </div>
            <% end %>
            <%= link_to "", class: "card-link home-cards" do %>
                <div class="card-logged">
                    <i class="fas fa-question card-icon"></i>
                    <h1 class="article-title">
                        Ajuda com o aplicativo
                    </h1>
                </div>
            <% end %>
            <%= link_to "", class: "card-link home-cards" do %>
                <div class="card-logged">
                    <i class="fas fa-bars card-icon"></i>
                    <h1 class="article-title">
                        Mais opções (menu)
                    </h1>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<!-- <%= link_to new_reminder_path, class: "nav-link-icon" do %>
              <i class="far fa-plus-square fa-2x"></i>
            <% end %> %>
            -->