<div class="container-sign-in w-100">

    <div class="box1">
      <h1 class="home-title"><strong>Raimundo</strong></h1>
      <h2 class="home-subtitle">Descomplique-se, viva mais!</h2>
    </div>

    <div class="box2 d-flex justify-content-center align-items-center ">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :login,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "Email ou Nome do Usuário",
                    label_html: { class: "text-black" }  %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" }, 
                    label: "Senha"
                    %>
        <%= f.input :remember_me, label: "Mantenha-me conectado", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "sign-in-form-btn btn btn-primary btn-lg" %>
        </div> 
      </div>
      <div class="text-center mt-4">
        <p>Ainda não possui uma conta? <strong><%= link_to "Criar conta", new_user_registration_path %></strong></p>
      </div>
  </div>

  <% end %>
    <!--<%= render "devise/shared/links" %>-->
</div>
 


